.marketing {
  font-family: 'DM Sans', sans-serif;
}

.content {
  font-family: 'DM Sans', sans-serif;
  margin: 0.5rem 2rem;
}

.heading {
  color: #19191B;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5625rem;
  font-weight: 400;
  text-shadow: 1px 0px 1px #333;
}

.sub-heading {
  line-height: 39px;
  letter-spacing: -0.66px;
  font-size: 1.315rem;
  color: #696871;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.drive-section {
  background-color: #00466D;
  color: #eee;
  padding-bottom: 2rem;
}

.drive-section .heading {
  color: #FFEFC0;
  text-shadow: 1px 0px 1px #1e1e1e;
  font-weight: 400;
}
.drive-section p {
  line-height: 39px;
  font-size: 1rem;
}

.info .sub-heading {
  line-height: 26px;
  color: #333;
}
.info-container {
  display: block;
  flex: none;
}
@media(min-width: 40em) {
  .info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.info {
  border-radius: 8px;
  background-color: white;
  color: #333;
  padding: 1rem;
  margin: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;
  min-height: 7rem;
  flex-basis: calc(50% - 4rem);  
  justify-content: center;
  flex-direction: column;
}
.info .body {
  color: #696871;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.info .body p {
  line-height: inherit;
  padding-top: 1rem;
}

.icon {
  display: block;
  margin-bottom: 1rem;
}

.supercharge-section {
  background-color: #F7F7FB;
  line-height: 39px;
}

.info-bubble {
  background-color: #00466D;
  padding: 1rem 2rem;
  border-radius: 8px;
  margin: 0.5rem;
  color: white;
  line-height: 21px;
  font-size: 1.15rem;
  padding-left: 4rem;
  min-height: 4rem;
  text-shadow: 1px 0px 1px #333;
  font-weight: 400;
}
.inline-icon {
  width: 31px;
  height: 31px;
  float: left;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.info-bubble .inline-icon {
  margin-left: -3rem;
}

.form-section {
  background-color: #00466D;
  color: #eee;
  line-height: 39px;
}
.form-section .heading {
  color: #eee;
  text-shadow: 1px 0px;
  font-weight: 400;
}

.form input, .form textarea {
  width: 80%;
}

.content .pure-button-primary, .content a.pure-button-primary {
	 background-color: #ef5350;
}
.content .pure-button-secondary {
	 background-color: #fff;
	 color: #ef5350;
	 border: 1px solid #ef5350;
}
.logo-foot {
  text-align: center;
  margin: 0 auto;
}
.logo-icon {
  border-radius: 45%;
  padding: 1rem;
}
.footer {
  margin: 0;
  background-color: #00466D;
  color: #eee;
  padding: 1rem;
}
.footer ul {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}
.footer li {
  margin-right: 1rem;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
	color: #ef5350;
}

.footer-meta {
  text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    margin: 1rem;
}
